html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.overlay-container {
  position: relative;
  width: 100%;
  max-width: 1500px;
  height: 900px;
  margin: 0 auto;
  overflow: hidden;
}

.bg-img {
  width: 100%;
  height: 900px;
  display: block;
}

/* Cat */
.cat {
  position: absolute;
  top: 73%;
  left: 44%;
  width: 420px;
  transform: translate(-50%, -50%);
}

.bowl {
  position: absolute;
  top: 89%;
  left: 30%;
  width: 230px;
  height: auto;
  transform: translate(-50%, -50%);
  pointer-events: auto;
  z-index: 1000;
}

/* Food images in a grid */
.grid-wrapper {
  position: absolute;
  top: 10%;
  left: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 20px;
  padding: 10px;
  border-radius: 10px;
  z-index: 10;
}

.grid-wrapper img {
  width: 170px;
  height: auto;
  object-fit: contain;
}

.grid-wrapper img.dragging {
  opacity: 0.5;
}

.draggable {
  width: 60px;
  cursor: grab;
}

/* Eat button */
#eatButton {
  position: absolute;
  top: 55%;
  left: 17.5%;
  z-index: 10000;
  pointer-events: auto;
  cursor: pointer;
  width: 300px;
  height: auto;
  display: none; /* Hides the button when no food in the bowl */
}

#eatButton:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* Happy cat */
.happy-cat {
  position: absolute;
  top: 70%;
  left: 44%;
  width: 200px;
  display: none;
  pointer-events: none;
  z-index: 1100;
}

.happy-cat img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* Angry cat */
.angry-cat {
  position: absolute;
  top: 80%;
  left: 44%;
  width: 200px;
  display: none;
  pointer-events: none;
  z-index: 1100;
}

.angry-cat img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
